html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #0f111a;
  color: #e0e0e0;
}

/* Centriranje cijele sekcije */
.section-center {
  display: flex;
  justify-content: center;
  height: 100vh; /* Full height */
  color: #ffffff; /* bijeli tekst */
  font-family: Arial, sans-serif;
}

/* Karta/form container */
.card {
  display: flex;
  flex-direction: column; /* sve jedno ispod drugog */
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  gap: 1rem;
  width: 50vw;
  h1 {
    text-align: center;
    font-weight: 100;
  } 

  a {
    position: fixed;
    bottom: 0;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    width: 50vw;
    text-align: center;
    color: #3f51b5;
  }

  a:visited {
    color: #3f51b5;
  }

  .form {
    display: flex;
    flex-direction: column; /* sve jedno ispod drugog */
    gap: 1rem;
    width: 100%;
  }
  
  /* Inputi */
  .input {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #30303038;
    color: white;
  }
  
  .input:focus {
    border: 1px solid #2c3e9a;
  }
  
  /* Dugme */
  .button {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #2c3e9a;
  }
  
  /* Naslov */
  .card h1 {
    margin-bottom: 1rem;
    color: white;
  }
}

.welcome_img {
  width: 20rem;
  height: 15rem;
  margin-bottom: 2rem;
}







/* Nav.css ili globals.css */

/* Navbar container */
.navbar {
  width: 100%;
  background-color: #273988; /* tamna pozadina */
  padding: 1rem 0;
  height: 2rem;
  justify-content: center; /* centriranje horizontalno */
}

/* Unutrašnji container */
.nav-container {
  display: flex;
  flex-direction: row; /* sve jedno ispod drugog */
  padding-inline-start: 1rem;
  align-items: center;
  gap: 1rem; /* razmak između dugmadi/linkova */
}

/* Linkovi i dugmad */
.nav-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #1a1c2a;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.4rem;
  width: 92px; /* fiksna širina da budu uniformni */
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.nav-link:nth-child(2) {
  background-color: rgba(0, 0, 0, 0);
}

.nav-link:nth-child(2):hover {
  background-color: red;
}

#nav-link-logout {
  position: absolute;
  right: 1rem;
}

.nav-link:hover {
  background-color: #2c3e9a; /* efekt hover */
}

/* Responsive za manje ekrane */
@media (max-width: 400px) {
  .nav-link {
    width: 120px;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}







.profiles-page {
  display: flex;
  justify-content: center;
  color: #ffffff; /* bijeli tekst */
  font-family: Arial, sans-serif;
}

.profiles-card {
  display: flex;
  flex-direction: column; /* sve jedno ispod drugog */
  border-radius: 10px;
  width: 90vw;
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    margin: 0px;
    font-weight: 100;
    margin-top: 1rem;
  }
}

.user-email {
  margin: 0px;
}

.profiles-list {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
  border-bottom: 1px solid grey;

  .button {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-size: 1.5vh;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #2c3e9a;
  }

  .button-danger {
    background-color: red;
  }

  .button-danger:hover {
    background-color: maroon;
  }
}

.profile-item {
  display: flex;
  border-top: 1px solid grey;
  justify-content: space-between;
  padding: 7px;
}

.profile-name {
  font-size: 2vh;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-actions {
  display: flex;
  flex-direction: row;
}

.add-profile {
  display: flex;
  border-bottom: 1px solid grey;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 7px;

  button {
    font-size: 25px;
    padding: 0px;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    width: 100%;
    font-size: 2.5vh;
  }

  span {
    padding-left: 1rem;
  }
}

.add-profile:hover {
  background-color: rgba(48, 48, 48, 0.452);
  cursor: pointer;
}

/* Overlay iza modala */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* modal dolazi odozdo */
  animation: fadeIn 0.3s ease forwards;
  z-index: 999;
}

/* Sadržaj modala */
.modal-content {
  background: #fff;
  width: 100%;
  max-width: 80vw;
  border-radius: 16px 16px 0 0;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
  transform: translateY(100%);
  height: 70vh;
  animation: slideUp 0.3s ease forwards;

  h2 {
    color: black;
  }

  .button {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px;
  }

  .button:hover {
    background-color: #2c3e9a;
  }

  .input {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #30303038;
    color: gray;
    width: 77vw;
    margin-top: 1.5vh;
  }
  
  .input:focus {
    border: 1px solid #2c3e9a;
  }
}

/* Akcije unutar modala */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* Animacije */
@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes fadeIn {
  from { background: rgba(0,0,0,0); }
  to { background: rgba(0,0,0,0.6); }
}








.task-section {
  display: flex;
  justify-content: center;
  color: #ffffff; /* bijeli tekst */
  font-family: Arial, sans-serif;

  h1 {
    margin: 0px;
    font-weight: 100;
    margin-top: 12px;
  }
}

.task-card {  
  display: flex;
  flex-direction: column; /* sve jedno ispod drugog */
  border-radius: 10px;
  width: 90vw;
  padding-left: 1rem;
  padding-right: 1rem;

  .add-button {
    position: fixed;
    bottom: 3vh;
    right: 7vw;
    padding: 15px;
    border-radius: 50%;
    border: 3px solid #2c3e9a;
    font-size: 2.8vh;
  }

  .add-button:hover {
    background-color: #1a1c2a;
    font-size: 2.9vh;
    margin-top: 1vh ;
  }
}

.profile-select {
  padding-bottom: 22px;
  font-size: 25px;
  margin-top: 10px;

  select {
    width: 20vh;
    font-size: 25px;
    border: 2px solid #2c3e9a;
    border-radius: 7px;
    background-color: transparent;
    color: white;
  }

  option {
    background-color: #2c3e9a;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.task-slide {
  flex: 1;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  width: 90vw;
}

.task-slide h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #3f51b5;
  font-weight: 600;
}

.slider-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    margin-bottom: 15px;
    color: #3f51b5;
    font-weight: 600;
  }
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
}

.task-info {
  flex: 1;
  margin-left: 10px;
  text-align: left;
}

.task-done {
  text-decoration: line-through;
  color: gray;
}

.slider-btn {
  background: #3f51b5;
  border: none;
  color: white;
  font-size: 1.4rem;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.slider-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.slider-btn:hover:not(:disabled) {
  background: #2c3e9d;
}


.task-list {
  list-style: none; 
  margin-top: 0px;
  padding: 0;
  border-top: 1px solid grey;
}

.task-item {
  display: flex;
  padding: 1.5rem;
  border-bottom: 1px solid gray;
}

.task-checkbox {
  appearance: none; /* Firefox & modern browsers */
  -webkit-appearance: none; /* Safari & Chrome */
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #3f51b5;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  background-color: #0f111a;
  transition: all 0.2s;
  margin-top: auto;
  margin-bottom: auto;
}

.task-checkbox:checked {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.task-checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-info {
  padding: 0.4vh;
  margin-top: auto;
  margin-bottom: auto;
}

.task-actions {
  margin-left: auto;       /* drži task-actions na desnoj strani */
  display: flex;           /* aktivira flex layout */
  flex-direction: row;     /* elementi u jednom redu */
  flex-wrap: nowrap;       /* sprječava prelazak u novi red */
  gap: 1vh;                /* razmak između buttona, možeš i margin-right maknuti */

  button {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    flex: 0 0 auto;        /* čuva širinu buttona, ne raste i ne skuplja se */
  }

  .button-danger {
    margin-right: 0px;
    background-color: red;
  }
  
  .button:hover {
    background-color: #2c3e9a;
  }

  .button-danger:hover {
    background-color: maroon;
  }
}






.revisions-toggle {
  border: 2px solid #273988;
  cursor: pointer;
  padding: 1vh;
  margin-left: 1vh;
  border-radius: 20px;
  margin: auto;
}

.revisions-dropdown {
  color: black;
  list-style: none; 
  padding: 0;
  
  .button-danger {
    margin-right: 0px;
    background-color: red;
  }
  
  .button:hover {
    background-color: #2c3e9a;
  }
  
  .button-danger:hover {
    background-color: maroon;
  }
  
}

.revisions-dropdown.open {
  display: block;
}

/* Modal tabela */
.revisions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: Arial, sans-serif;
}

.revisions-table th,
.revisions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.revisions-table th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.revisions-table tr:nth-child(even) {
  background-color: #fafafa;
}

.revisions-table tr:hover {
  background-color: #f0f8ff;
}

.revisions-table td > div {
  margin-bottom: 4px;
}

/* Modal overlay i sadržaj */

.modal h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.modal-buttons {
  margin-top: 1rem;
  text-align: right;
}

.modal-buttons .button {
  margin-left: 10px;
}

/* Responsive za mobilne uređaje */
@media (max-width: 600px) {
  .revisions-table th,
  .revisions-table td {
    font-size: 0.9rem;
    padding: 6px;
  }

  .modal {
    width: 95%;
    padding: 15px;
    overflow: scroll;
  }
}
